.page-header
  %h1 Help
%p
  Get help on Ruby on Rails Tutorial at the
  %a{:href => "http://railstutorial.org/help"} Rails Tutorial help page.
  To get help on this sample app, see the
  %a{:href => "http://railstutorial.org/book"} Rails Tutorial book.