.page-header
  %h1 Sample App Revision
%p
  This is the home page for the
  %a{:href => "http://railstutorial.org/"} Ruby on Rails Tutorial sample application.

= link_to "Sign up now!", '#', :class => "signup btn primary round"