%footer
  .container
    %p.links
      = link_to "About", '#'
      |
      = link_to "Contact", '#'
      |
      %a{:href => "http://news.railstutorial.org/"} News
      |
      %a{:href => "http://www.railstutorial.org/"} Rails Tutorial